.promo-section {
  overflow-x: auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.promo-wrapper {
  margin-top: 22px;
  display: flex;
}

.promo:hover {
  cursor: pointer;
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
}

.promo-header {
  font-size: 12px;
  font-weight: bold;
  margin-top: 34px;
}

.promo {
  margin-right: 26px;
  display: flex;
}
